<div class="card" id="email-card">
      <div class="card-body">
        <h3 class="card-title"><%=link_to email.object, email_path(email.id), remote: true %></h3>
        <p class="card-text"><%= email.body %></p>
      </div>    
</div>
    
