<div class="card" id="email-card">
        <div class="card-body">
            <h3 class="card-title"><%=link_to @email, remote:true %></h3>
            <p class="card-text"><%= @email %></p>
            <button type="button" class="btn btn-primary">Marquer comme non-lu</button>
            <button type="button" class="btn btn-danger"><%=link_to "Supprimer l'email", email_index_path, meyhod: :delete %></button>
</div>